@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#app {
    font-family: 'Roboto', 'sans-serif';
}


.toggle {
    position:absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle span {
    display: block;
    position: relative;
    width: 64px;
    height: 28px;

    border-radius: 28px;
    background-color: black;
    transition: background .2s ease-in-out;
}

.toggle span::after {
    content: '';
    width: 32px;
    height: 20px;
    position:absolute;
    top: 4px;
    left: 4px;
    border-radius: 20px;
    background-color: #f2ff00;
    transition: all .2s ease-in-out;
}

.toggle input[type=checkbox]:checked + span {
    background: green;
}

.toggle input[type=checkbox]:checked + span::after {
    transform: translateX(40px);
}
/*
.uploader button {
    cursor: pointer;
    overflow: hidden;
}
.uploader button #fileSelector {
    z-index: 5;
    cursor: pointer;
    opacity: 0;
    left: 0;
    top: 1%;
}

.uploader button .absolute {
    z-index: 0;
    pointer-events: auto;
}*/